.logo {
  height: 75px;
  margin-left: 5px;
  margin-top: 10px;
  border-radius: 50%;
  object-fit: cover;
}

/* 	
#f0d171	(240,209,113)
#d48849	(212,136,73)
#bd4545	(189,69,69)
#6d1950	(109,25,80)
#20073a (32,7,58) 
*/