.participation-row {
    box-shadow: 
    inset 0 10px 30px rgba(255, 255, 255, 0.25), /* Top highlight */
    inset 0 -10px 30px rgba(0, 0, 0, 0.8);      /* Bottom shadow */
}

.participation-row:hover {
    box-shadow: 
    inset 0 10px 30px rgba(255, 255, 255, 0.8), /* Top highlight */
    inset 0 -10px 30px rgba(0, 0, 0, 0.8);      /* Bottom shadow */
}

.participation-row:active {
    box-shadow: 
    inset 0 10px 30px rgba(0, 0, 0, 0.8),         /* Top SHADOW */
    inset 0 -10px 30px rgba(255, 255, 255, 0.25);   /* Bottom HIGHLIGHT */
}