.page {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.landing-logo {
    height: 22em;
    filter: invert() invert(82%) sepia(27%) saturate(800%) hue-rotate(350deg) brightness(115%) contrast(88%);
}